           :root {
              cursor: none !important
          }
          
          body {
              background: black;
              font-family: 'Montserrat', sans-serif;
          }
          
          .container {
              width: 100vw;
              height: 100vh;
          }
          
          .navigator {
              width: 100%;
              height: 100%;
              position: absolute;
          }
          
          .menu {
              -webkit-transition: 0.1s -webkit-transform linear;
              transition: 0.1s -webkit-transform linear;
              transition: 0.1s transform linear;
              transition: 0.1s transform linear, 0.1s -webkit-transform linear;
              position: relative;
              background: 0;
              float: left;
              margin: 2rem;
              height: 2.2rem;
              width: 3.0rem;
              outline: 0;
              padding: 0;
              border: 0;
              z-index: 1000000000;
          }
          
          .bar,
          .bar::before,
          .bar::after {
              -webkit-transition: 0.2s background linear 0.1s, 0.2s top linear 0.2s, 0.2s -webkit-transform linear;
              transition: 0.2s background linear 0.1s, 0.2s top linear 0.2s, 0.2s -webkit-transform linear;
              transition: 0.2s background linear 0.1s, 0.2s top linear 0.2s, 0.2s transform linear;
              transition: 0.2s background linear 0.1s, 0.2s top linear 0.2s, 0.2s transform linear, 0.2s -webkit-transform linear;
              position: absolute;
              margin: auto;
              width: 100%;
              height: 0.3rem;
              content: '';
              top: 50%;
              left: 0;
              background: white;
              cursor: pointer;
          }
          
          .bar {
              margin-top: -0.2rem;
          }
          
          .bar::before {
              top: -1.2rem;
          }
          
          .bar::after {
              top: 1.2rem;
          }
          
          .bar::before,
          .bar::after {
              -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
          }
          
          .active .bar {
              background: 0;
          }
          
          .active .bar::before {
              -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
          }
          
          .active .bar::after {
              -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
          }
          
          .active .bar::before,
          .active .bar::after {
              top: 0;
          }
          
          .active .bar,
          .active .bar::before,
          .active .bar::after {
              -webkit-transition: 0.2s background linear 0.1s, 0.2s top linear, 0.2s -webkit-transform linear 0.2s;
              transition: 0.2s background linear 0.1s, 0.2s top linear, 0.2s -webkit-transform linear 0.2s;
              transition: 0.2s background linear 0.1s, 0.2s top linear, 0.2s transform linear 0.2s;
              transition: 0.2s background linear 0.1s, 0.2s top linear, 0.2s transform linear 0.2s, 0.2s -webkit-transform linear 0.2s;
          }
          
          nav {
              cursor: default;
              color: white;
              z-index: 999999999;
              width: 100%;
              height: 100%;
              position: absolute;
              -webkit-transform: translateX(100%);
              transform: translateX(-100%);
              -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.56, 0.1, 0.34, 0.91);
              transition: -webkit-transform 0.6s cubic-bezier(0.56, 0.1, 0.34, 0.91);
              transition: transform 0.6s cubic-bezier(0.56, 0.1, 0.34, 0.91);
              transition: transform 0.6s cubic-bezier(0.56, 0.1, 0.34, 0.91), -webkit-transform 0.6s cubic-bezier(0.56, 0.1, 0.34, 0.91);
              padding-top: 6.2rem;
              background: rgba(0, 0, 0, 0.9)
          }
          
          .menu-open nav {
              -webkit-transform: translateX(0);
              transform: translateX(0);
              width: 100vw
          }
          
          nav ul {
              position: absolute;
              width: 50%;
              list-style: none;
              left: 25%;
              top: 50%;
              transform: translatey(-50%);
          }
          
          nav ul li {
              padding: 5% 5%;
              font-size: 200%;
              text-align: center;
              text-shadow: 0px 0px 20px black;
          }
          
          nav ul li:hover {
              text-decoration: none;
              color: #F29200;
          }
          
          nav ul li:active {
              text-decoration: none;
          }
          
          .box {
              position: relative;
              width: 100%;
              height: 100%;
              background: black;
          }
          
          .homeScreen {
              cursor: none !important;
              color: white
          }
          
          #particles-js {
              width: 100%;
              height: 100%;
          }
          
          .logo {
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
              text-align: center;
          }
          
          .logo h1 {
              font-size: 10em;
          }
          
          img {
              width: 100%;
          }
          /* DIV CURSORE */
          
          .mouse {
              overflow: hidden;
              width: 40px;
              height: 40px;
              border-radius: 40px;
          }
          
          .dot {
              z-index: 3;
              position: absolute;
              width: 40px;
              height: 40px;
              top: 50%;
              left: 50%;
              background: #F29200;
              border-radius: 40px;
          }
          
          .workScreen {
              background: white;
              width: 100vw;
              height: 100vh;
              bottom: 100%;
              visibility: hidden;
              opacity: 0;
              cursor: default;
          }
          
          [class^="swiper-button-"] {
              -webkit-transition: all .3s ease;
              transition: all .3s ease;
          }
          
          .swiper-slide {
              backface-visibility: hidden;
              -webkit-backface-visibility: hidden;
          }
          
          *,
          *:before,
          *:after {
              -webkit-box-sizing: border-box;
              box-sizing: border-box;
              margin: 0;
              padding: 0;
          }
          
          .swiper-container {
              width: 100vw;
              height: 100vh;
              float: left;
              -webkit-transition: opacity .6s ease, -webkit-transform .3s ease;
              transition: opacity .6s ease, -webkit-transform .3s ease;
              transition: opacity .6s ease, transform .3s ease;
              transition: opacity .6s ease, transform .3s ease, -webkit-transform .3s ease;
          }
          
          .swiper-container.nav-slider {
              width: 20%;
              padding-left: 5px;
              overflow: hidden;
          }
          
          .swiper-container.nav-slider .swiper-slide {
              cursor: pointer;
              opacity: .4;
              -webkit-transition: opacity .3s ease;
              transition: opacity .3s ease;
          }
          
          .swiper-container.nav-slider .swiper-slide.swiper-slide-active {
              opacity: 1;
          }
          
          .swiper-container.nav-slider .swiper-slide .content {
              width: 100%;
          }
          
          .swiper-container.nav-slider .swiper-slide .content .title {
              font-size: 20px;
          }
          
          .swiper-container:hover .swiper-button-prev,
          .swiper-container:hover .swiper-button-next {
              -webkit-transform: translateX(0);
              transform: translateX(0);
              opacity: 1;
              visibility: visible;
          }
          
          .swiper-container.loading {
              opacity: 0;
              visibility: hidden;
          }
          
          .swiper-slide {
              overflow: hidden;
          }
          
          .swiper-slide .slide-bgimg {
              position: absolute;
              top: 0;
              left: 0;
              width: 100vw;
              height: 100vh;
              background-position: center;
              background-repeat: no-repeat no-repeat;
              background-size: 100% 100%;
          }
          
          .swiper-slide .entity-img {
              display: none;
          }
          
          .swiper-slide .content {
              position: absolute;
              top: 40%;
              left: 0;
              width: 50%;
              padding-left: 5%;
              color: #fff;
          }
          
          .swiper-slide .content .title {
              font-size: 2.6em;
              font-weight: bold;
              margin-bottom: 30px;
          }
          
          .swiper-slide .content .captions {
              display: block;
              font-size: 13px;
              line-height: 1.4;
              -webkit-transform: translateX(50px);
              transform: translateX(50px);
              opacity: 0;
              -webkit-transition: opacity .3s ease, -webkit-transform .7s ease;
              transition: opacity .3s ease, -webkit-transform .7s ease;
              transition: opacity .3s ease, transform .7s ease;
              transition: opacity .3s ease, transform .7s ease, -webkit-transform .7s ease;
          }
          
          .swiper-slide .content .caption.show {
              -webkit-transform: translateX(0);
              transform: translateX(0);
              opacity: 1;
          }
          
          [class^="swiper-button-"] {
              width: 44px;
              opacity: 0;
              visibility: hidden;
          }
          
          .swiper-button-prev {
              -webkit-transform: translateX(50px);
              transform: translateX(50px);
          }
          
          .swiper-button-next {
              -webkit-transform: translateX(-50px);
              transform: translateX(-50px);
          }
          
          .dragdealer {
              position: relative;
              height: 30px;
          }
          
          .dragdealer .handle {
              position: absolute;
              top: 0;
              left: 0;
          }
          
          .dragdealer .red-bar {
              width: 100px;
              height: 30px;
              background: #CC0000;
              color: #FFF;
              font-size: 14px;
              line-height: 30px;
              text-align: center;
          }
          
          .dragdealer .disabled {
              background: #898989;
          }
          
          * {
              margin: 0;
              padding: 0;
          }
          
          *,
          *:after,
          *:before {
              box-sizing: border-box;
          }
          
          .clearfix:before,
          .clearfix:after {
              content: '';
              display: table;
          }
          
          .clearfix:after {
              clear: both;
          }
          
          a {
              color: #fff;
              text-decoration: none;
              outline: none;
          }
          
          a:hover,
          a:focus {
              color: #c5d3d6;
          }
          
          .js .codrops-header,
          .js .codrops-top {
              position: fixed;
              z-index: 1000;
          }
          /* Header */
          
          .codrops-header {
              margin: 0 auto;
              width: 70%;
              left: 15%;
              top: 3.5em;
              pointer-events: none;
              -webkit-transition: opacity 0.3s;
              transition: opacity 0.3s;
          }
          
          .message {
              display: none;
              clear: both;
              color: #f39c12;
          }
          
          .codrops-header h1 {
              margin: 0;
              font-weight: 700;
              font-size: 1em;
              line-height: 1.3;
              padding: 1.5em 0 0.25em;
              text-transform: uppercase;
              letter-spacing: 1px;
              float: left;
          }
          
          .overlay {
              position: fixed;
              width: 100%;
              height: 100%;
              background-color: rgba(0, 0, 0, 0.93);
              z-index: 10000;
          }
          
          .no-js .overlay,
          .overlay.hide {
              -webkit-transition: opacity 0.3s, visibility 0.3s;
              transition: opacity 0.3s, visibility 0.3s;
              visibility: hidden;
          }
          
          .info {
              text-align: justify;
              position: absolute;
              top: 20%;
              left: 0;
              font-weight: 700;
              letter-spacing: 1px;
              font-size: 1rem;
              width: 100%;
          }
          
          .info p {
              margin-left: 2%;
              margin-right: 2%;
              letter-spacing: 20%;
              line-height: 200%;
          }
          
          .info span {
              display: inline-block;
              width: 180px;
              height: 180px;
              padding: 10px;
              margin: 4px;
              text-align: center;
              vertical-align: top;
              background-size: 75%;
              background-color: rgba(20, 20, 20, .5);
              background-repeat: no-repeat;
              background-position: 50% 85%;
          }
          
          .info button {
              border: 2px solid #fff;
              background: transparent;
              color: #fff;
              font-weight: bold;
              padding: 1em 2em;
              letter-spacing: 1px;
              text-transform: uppercase;
              display: block;
              margin: 1em auto;
              opacity: 0.7;
              outline: none;
          }
          
          .info button:hover {
              opacity: 1;
          }
          
          @media screen and (max-width: 650px) {
              .message {
                  display: block;
              }
              .info span.info-keys {
                  display: none;
              }
              .info span.info-switch {
                  display: none;
              }
              .swiper-slide .slide-bgimg {
                  background-size: cover;
              }
              .mouse {
                  display: none;
              }
          }
          
          @media screen and (max-width: 30em) {
              .info span {
                  width: 100px;
                  height: 100px;
                  font-size: 0.5em;
              }
          }
          
          @media screen and (max-width: 25em) {
              .codrops-icon span {
                  display: none;
              }
          }
          
          html,
          body,
          .js .aboutWrapper,
          .js .dragslider,
          .js .img-dragger .handle {
              height: 100%;
          }
          
          html.js,
          .js body {
              overflow: hidden;
              position: relative;
          }
          
          .js .dragslider {
              position: absolute;
              background: black;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              -webkit-transition: -webkit-transform 0.6s cubic-bezier(.7, 0, .3, 1);
              transition: transform 0.6s cubic-bezier(.7, 0, .3, 1);
          }
          
          .dragslider.show-content {
              -webkit-transform: translate3d(0, -100%, 0);
              transform: translate3d(0, -100%, 0);
          }
          
          .dragslider h2 {
              font-size: 8em;
              font-weight: 700;
              margin: 0 auto;
              line-height: 1;
              position: relative;
          }
          
          .no-js .dragslider h2 {
              padding: 15px;
          }
          
          .dragslider h2 span {
              display: block;
              font-size: 27%;
              font-weight: 300;
              padding-top: 0.2em;
          }
          /* Switch button */
          
          button.slider-switch {
              font-size: 0;
              width: 80px;
              height: 80px;
              padding: 0;
              color: transparent;
              position: relative;
              border: none;
              background: url('https://goo.gl/AkxE9Z') no-repeat center center;
              background-size: 90%;
              float: right;
              outline: none;
              overflow: hidden;
              opacity: 0.7;
              -webkit-transition: opacity 0.3s;
              transition: opacity 0.3s;
              pointer-events: auto;
          }
          
          .no-js button.slider-switch {
              display: none;
          }
          
          button.slider-switch.view-maxi {
              background-image: url('https://goo.gl/gx2Q0a');
          }
          
          button.slider-switch:hover {
              opacity: 1;
          }
          /* Dragger */
          
          .img-dragger {
              position: relative;
              z-index: 100;
          }
          
          .js .img-dragger {
              position: absolute;
              width: 100%;
              height: 100%;
              top: 50%;
              left: 50%;
              -webkit-transform: translate3d(-50%, -50%, 0);
              transform: translate3d(-50%, -50%, 0);
              -webkit-transform-origin: 0 0;
              transform-origin: 0 0;
          }
          
          .js .img-dragger-large {
              width: 100%;
              height: 100%;
          }
          
          .js .img-dragger .handle {
              -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
              white-space: nowrap;
              font-size: 0;
          }
          
          .no-js .img-dragger,
          .no-js .img-dragger .handle {
              height: auto;
              position: relative;
              text-align: center;
              font-size: 0;
              clear: both;
              white-space: nowrap;
              overflow: auto;
          }
          
          .no-js .img-dragger .handle {
              padding: 40px 0 0;
          }
          
          .img-dragger .slide {
              display: inline-block;
              position: relative;
              height: 100%;
              background: black;
              font-size: 16px;
              white-space: normal;
              cursor: -webkit-grab;
              cursor: -moz-grab;
              -webkit-touch-callout: none;
              -webkit-user-select: none;
              -khtml-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;
              vertical-align: top;
          }
          
          .no-js .img-dragger .slide {
              width: 300px;
              font-size: 7px;
              min-height: 200px;
          }
          
          .img-dragger .slide:active {
              cursor: -webkit-grabbing;
              cursor: -moz-grabbing;
          }
          
          .img-wrap {
              position: absolute;
              width: 100%;
              height: 100%;
              overflow: hidden;
          }
          
          .img-wrap img {
              position: absolute;
              display: block;
              height: 100%;
              opacity: 0.35;
          }
          
          @media screen and (min-aspect-ratio: 1280/850) {
              .img-dragger .img-wrap img {
                  width: calc(100% + 0.2px);
                  height: 100%;
              }
          }
          /*Media Query smartphone albums e immagini*/
          
          @media only screen and (orientation: portrait) {
              .img-wrap img {
                  height: 40%;
                  top: 30%;
              }
              .swiper-slide .slide-bgimg {
                  position: absolute;
                  width: 100%;
                  height: 40%;
                  top: 30%;
              }
              .swiper-slide {
                  background-color: black;
              }
          }
          
          .js .slide h2 {
              color: #FFF;
              position: absolute;
              -webkit-transition: opacity 0.3s;
              transition: opacity 0.3s;
          }
          
          .js .img-dragger-large .slide h2 {
              width: 70%;
              left: 15%;
              top: 50%;
              -webkit-transform: translate3d(0, -50%, 0);
              transform: translate3d(0, -50%, 0);
          }
          
          .img-dragger-small .slide h2 {
              font-size: 2.5em;
              padding-top: 1em;
              top: 100%;
              width: 100%;
              text-align: center;
              color: white;
              animation: slideUpFade 0.4s 0.1s;
              -webkit-animation: slideUpFade 0.4s 0.1s;
          }
          
          @-webkit-keyframes slideUpFade {
              from {
                  opacity: 0;
                  -webkit-transform: translate3d(0, 20px, 0);
              }
              to {
                  opacity: 1;
                  -webkit-transform: translate3d(0, 0, 0);
              }
          }
          
          .img-dragger-small .slide h2 span {
              font-size: 0.35em;
          }
          
          .img-dragger-small .slide.current h2 {
              color: white;
              -webkit-animation-delay: 0s;
              animation-delay: 0s;
              -webkit-transition: color 0.3s, opacity 0.3s;
              transition: color 0.3s, opacity 0.3s;
          }
          
          .slide h2 i {
              font-style: normal;
              font-weight: 400;
          }
          
          button.content-switch {
              border: 2px solid #fff;
              width: 160px;
              text-indent: 200%;
              overflow: hidden;
              white-space: nowrap;
              background: transparent;
              color: #fff;
              position: absolute;
              cursor: pointer;
              top: 100%;
              left: 50%;
              -webkit-transform: translate3d(-50%, -200%, 0);
              transform: translate3d(-50%, -200%, 0);
              padding: 1em 2em;
              font-size: 0.85em;
              line-height: 1;
              letter-spacing: 1px;
              font-weight: 400;
              outline: none;
              z-index: 1000;
              -webkit-transition: -webkit-transform 0.6s cubic-bezier(.7, 0, .3, 1), opacity 0.3s, color 0.3s, border-color 0.3s;
              transition: transform 0.6s cubic-bezier(.7, 0, .3, 1), opacity 0.3s, color 0.3s, border-color 0.3s;
          }
          
          .no-js button.content-switch {
              display: none;
          }
          
          button.content-switch:hover {
              opacity: 1;
          }
          
          button.content-switch::before {
              content: "Scopri di più";
              font-family: 'FontAwesome';
              position: absolute;
              width: 100%;
              height: 100%;
              left: 0;
              text-indent: 0;
              font-size: 1.5em;
              line-height: 0.75;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
          }
          
          .show-content .current button.content-switch {
              border-color: #c5d3d6;
              color: #c5d3d6;
              -webkit-transform: translate3d(-50%, 100%, 0);
              transform: translate3d(-50%, 100%, 0);
          }
          
          .show-content .current button.content-switch::before {
              content: "\f102";
          }
          /* Content */
          
          .js .pages {
              position: absolute;
              top: 100%;
              height: 0;
              width: 100%;
              overflow-y: hidden;
              -webkit-overflow-scrolling: hidden;
              -webkit-transition: height 0s 0.6s;
              transition: height 0s 0.6s;
          }
          
          .js .show-content .pages {
              -webkit-transition: none;
              transition: none;
              height: 100%;
          }
          
          .pages .content {
              background: #FFF;
              text-align: center;
              color: #888;
              font-size: 1.5em;
              overflow: hidden;
          }
          
          .js .pages .content {
              position: absolute;
              top: 0;
              left: 0;
              height: 0;
              width: 100%;
              overflow: hidden;
              -webkit-transition: height 0s 0.6s;
              transition: height 0s 0.6s;
          }
          
          .pages .content.show {
              height: auto;
              -webkit-transition: none;
              transition: none;
          }
          
          .pages .content h2 {
              font-size: 5em;
              max-width: 70%;
              color: #34495e;
              padding: 2.25em 10px 1em;
          }
          
          .no-js .pages .content h2 {
              padding-top: 1em;
          }
          
          .pages .content h2 span {
              color: #95a5a6;
          }
          
          .pages .content p {
              max-width: 1100px;
              margin: 0 auto;
              padding: 0.5em 2em;
              line-height: 1.5;
              text-align: left;
          }
          
          .pages .content p:last-child {
              padding: 5em 1em 8em;
              text-align: center;
              font-weight: bold;
          }
          
          .js .pages .content h2,
          .js .pages .content p {
              -webkit-transform: translate3d(0, 200px, 0);
              transform: translate3d(0, 200px, 0);
              -webkit-transition-property: opacity;
              transition-property: opacity;
              -webkit-transition-duration: 0.3s;
              transition-duration: 0.3s;
              -webkit-transition-timing-function: cubic-bezier(.7, 0, .3, 1);
              transition-timing-function: cubic-bezier(.7, 0, .3, 1);
          }
          
          .pages .content.show h2,
          .pages .content.show p {
              -webkit-transition-duration: 1s;
              transition-duration: 1s;
              -webkit-transition-property: -webkit-transform, opacity;
              transition-property: transform, opacity;
              -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
          }
          
          .pages .content.show p {
              -webkit-transition-delay: 0.1s;
              transition-delay: 0.1s;
          }
          
          .pages .content a {
              color: #3c89d5;
              display: block;
          }
          
          .pages .content a:hover {
              color: #545b61;
          }
          /* Switch */
          
          .switch-min .img-dragger-large .slide>*:not(.img-wrap),
          .switch-max .img-dragger-small .slide>*:not(.img-wrap) {
              /* fade out everything except image */
              opacity: 0;
              -webkit-transition: none;
              transition: none;
          }
          
          .switch-min .img-dragger-large,
          .switch-max .img-dragger-small {
              -webkit-transition: -webkit-transform 0.6s cubic-bezier(.7, 0, .3, 1);
              transition: transform 0.6s cubic-bezier(.7, 0, .3, 1);
          }
          
          .img-dragger-small button.content-switch {
              opacity: 0;
              pointer-events: none;
          }
          /* Helper classes */
          
          .no-transition {
              -webkit-transition: none !important;
              transition: none !important;
          }
          
          .hide {
              opacity: 0 !important;
              pointer-events: none !important;
          }
          
          @media screen and (max-width: 63.125em) {
              .dragslider h2 {
                  font-size: 2.8em;
              }
              .pages .content {
                  font-size: 100%;
              }
              .pages .content h2 {
                  font-size: 3em;
              }
          }
          
          @media screen and (max-width: 650px) {
              button.slider-switch {
                  display: none;
              }
              button.content-switch {
                  top: 93%;
              }
              .show-content .current button.content-switch {
                  -webkit-transform: translate3d(-50%, 200%, 0);
                  transform: translate3d(-50%, 200%, 0);
              }
          }
          
          @media screen and (max-width: 800px) and (orientation: landscape) {
              .mouse {
                  display: none;
              }
          }
          /* ANIMAZIONI */
          
          .fadeIn {
              -webkit-animation: fadeIn 3s ease-in-out forwards;
              animation: fadeIn 3s ease-in-out forwards;
          }
          
          .fadeOut {
              -webkit-animation: fadeOut 3s ease-in-out forwards;
              animation: fadeOut 3s ease-in-out forwards;
          }
          
          .Transition {
              -webkit-animation: Transition 3s ease-in-out;
              animation: Transition 3s ease-in-out;
          }
          
          @-webkit-keyframes fadeIn {
              100% {
                  opacity: 1;
              }
          }
          
          @keyframes fadeIn {
              100% {
                  opacity: 1;
              }
          }
          
          @keyframes fadeOut {
              100% {
                  opacity: 0;
              }
          }
          
          @keyframes Transition {
              100% {
                  transform: translateX(-100%);
              }
          }
          /* FINE ANIMAZIONI */